.icon
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

//Regla para poner espacios de 20 pixeles a la izquierd y a la derecha
.espacios
{
   padding-left: 20px;
   padding-right: 20px;
}
